*, *:before, *:after {
    box-sizing: border-box;
}
a:-webkit-any-link {
    cursor: auto;
}
h1, h2, h3, h4, p {
    margin-top: 0;
}
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #36373E;
    background-color: #f1f2f4;
    padding-bottom: 50px;
}

.navbar {
    height: 3rem;
    background-color: #53545B;
    position: relative;
    line-height: 2.3rem;
    padding: 0 15px;
    .contactLinks1 {
        a {
            text-decoration: none;
        }
        i {
            font-size: 1.05rem;
            color: #f1f2f4;
            display: inline-block;
            letter-spacing: .7rem;
            &:hover {
                color: #1CB78C;
            }
        }
        height: 100%;
        padding: .4rem 1rem;
        float: right;
        display: inline-block;
    }
}
.logo {
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    color: #f1f2f4;
    padding: .4rem 1rem;
    display: inline-block;
    text-transform: uppercase;
    height: 100%;
    veritcal-align: middle;
    &:hover {
        cursor: pointer;
    }
}
.resume-button {
    font-size: .8rem;
    letter-spacing: 0.1rem;
    color: #BABBC1;
    padding: .4rem 1rem;
    display: inline-block;
    text-transform: uppercase;
    height: 100%;
    float: right;
    &:hover {
        color: #f1f2f4;
        cursor: pointer;
    }
}

.global-wrapper {
    margin: 0 10px;
}

.section-header {
    h1 {
        margin: 0;
        font-weight: lighter;
    }
    margin: 0 auto;
    margin-top: 15px;
    display: block;
    max-width: 620px;
    background-color: #fff;
    padding: 1.5rem 3rem;
    border: 1px solid #DEE0E5;
    /*border-bottom: none;*/
    text-align: center;
}
.section {
    h4 {
        text-align: center;
    }
    p {
        line-height: 1.2rem;
        font-weight: lighter;
        font-size: .9rem;
    }
    margin: 0 auto;
    display: block;
    max-width: 620px;
    background-color: #fff;
    padding: 2rem 4em;
    border: 1px solid #DEE0E5;
    border-top: none;
}

.blog-post-header {
    h1 {
        margin: 0;
        margin-bottom: 5px;
        font-weight: lighter;
        font-size: 1.75rem;
    }
    .date {
        font-size: 12px;
        margin: 0;
        color: #a0a0a5;
    }
    margin: 0 auto;
    margin-top: 15px;
    display: block;
    max-width: 620px;
    background-color: #fff;
    padding: 1.5rem 3rem;
    border: 1px solid #DEE0E5;
    border-bottom: none;
    text-align: center;
}
.blog-post-body {
    h4 {
        text-align: center;
    }
    pre {
        line-height: 1.4rem;
        font-size: .9rem;
        font-weight: light;
        font-family: 'Lato', sans-serif;
        margin-top: 0;
        white-space: pre-wrap;
        word-wrap: break-word;
    }
    margin: 0 auto;
    display: block;
    max-width: 620px;
    background-color: #fff;
    padding: 2rem 3rem;
    border: 1px solid #DEE0E5;
}

.blog-post-form {
    p {
        margin-bottom: 2px;
    }
    input {
        height: auto;
        background-color: #FFFFFF;
        border: 1px solid #BABBC1;
        color: #36373E;
        width: 100%;
        font-size: .85rem !important;
        line-height: 2rem;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        font: inherit;
        overflow: hidden;
        max-width: 100%;
        height: 2rem;
        margin: 0 0;
        padding: 0.9rem 0.9rem;
        border-radius: 0.1rem;
        outline: none;
        margin-bottom: 1.5rem;
        &:focus {
            border: 1px solid navy;
            transition: border 1s ease;
        }
    }
    pre {
        min-height: 100px;
        background-color: #FFFFFF;
        border: 1px solid #BABBC1;
        color: #36373E;
        width: 100%;
        font-size: .85rem !important;
        line-height: 2rem;
        /*display: inline-block;*/
        font: inherit;
        white-space: pre-wrap;
        word-wrap: break-word;
        min-height: 6rem;
        margin: 0 0;
        padding: 0.9rem 0.9rem;
        border-radius: 0.1rem;
        outline: none;
        margin-bottom: 1.5rem;

        &:focus {
            border: 1px solid navy;
            transition: border 1s ease;
        }
    }
    .buttons-container {
        margin: 0 auto;
        display: block;
        text-align: center;
    }
    .post, .delete  {
        background-color: #1CB78C;
        border-color: #1CB78C;
        color: #FFFFFF;
        font-weight: 500;
        letter-spacing: .15rem;
        user-select: none;
        text-transform: uppercase;
        border-style: solid;
        border-width: 1px;
        border-color: transparent;
        display: inline-block;
        vertical-align: middle;
        font: inherit;
        font-size: .75rem;
        text-align: center;
        cursor: pointer;
        overflow: visible;
        white-space: nowrap;
        position: relative;
        margin: 0 0;
        padding: 0.75rem 1.5rem;
        border-radius: 0.2rem;
        outline: none;
        &:hover {
            background-color: #20c799;
            transition: all .1s ease-in-out;
        }
    }
    .delete {
        background-color: #53545b;
        outline: none;
        &:hover {
            background-color: #7d7f88;
            transition: all .1s ease-in-out;
        }
    }
    background-color: #f1f2f4;
    padding: 1.5rem;
}

.resume {
    .section {
        .sub-section {
            padding: 0 0 40px 0;
        }
        ul {
            padding: 0;
            margin: 0;
            line-height: 1.5rem;
        }
        h1 {
            margin-bottom: 0;
            text-transform: uppercase;
            /*letter-spacing: .05rem;*/
        }
        h2 {
            margin-bottom: 20px;
            text-transform: uppercase;
            letter-spacing: .05rem;
        }
        h3 {
            margin-bottom: 10px;
            display: inline;
            margin-right: 10px;
        }
        h4 {
            text-align: left;
            margin: 5px 0;
            color: #a0a0a5;
            font-weight: 400;
        }
        p {
            margin-bottom: 5px;
        }
        .date {
            font-size: 12px;
            margin: 0;
            color: #a0a0a5;
            display: inline;
        }
    }
}

.contactLinks2 {
    a {
        text-decoration: none;
    }
    i {
        font-size: 1.05rem;
        color: #53545B;
        display: inline-block;
        letter-spacing: .7rem;
        &:hover {
            color: #1CB78C;
        }
    }
    text-align: center;
    height: 100%;
    min-width: 100px;
    padding: .6rem 1rem;
    float: right;
    display: none;
}

@media (min-width: 1250px){
    .inner-navbar-container {
        max-width: 620px;
        margin: 0 auto;
    }
}

@media (max-width: 600px){
    .section, .blog-post-body, .blog-post-header {
        padding: 2rem;
    }
    .contactLinks1 {
        display: none !important;
    }
    .contactLinks2 {
        width: 100%;
        height: 100%;
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    .global-wrapper{
        margin-top: 38px;
    }
    .resume {
        .date {
            display: block !important;
        }
    }
}
@media (max-width: 320px){
    .section,
    .blog-post-body,
    .blog-post-header {
        padding: 2rem 1.5rem;
    }
    .section p,
    .section pre,
    .blog-post-body p,
    .blog-post-body pre, {
        font-size: 12px;
        line-height: 1rem;
    }
    .logo {
        font-size: .75rem;
    }
    .resume-button {
        font-size: .5rem;
    }

}
